# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/

# Django stuff
db.sqlite3
/media/
staticfiles/
*.log

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store

# Environment / secrets
.env
.vercel
